<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-vcentered">
    <%= link_to 'LOGO', root_path, class: "navbar-item", id: "app-logo"%>
    <a role="button" class="navbar-burger my-auto" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item">
          <div class="buttons">
            <div class="navbar-item has-dropdown is-hoverable has-text-white">
              <a class="navbar-link">
                <%= current_user.email %>
              </a>
              <div class="navbar-dropdown">
                <%= link_to '新增故事', new_story_path, class: "navbar-item" %>
                <%= link_to '管理文章', stories_path, class: "navbar-item" %>
              </a>
              <hr class="navbar-divider">
              <%= link_to '個人資料', edit_user_registration_path, class: "is-info navbar-item" %>
              <%= link_to  '登出', destroy_user_session_path,  class: "navbar-item is-danger", method: :delete, data: {  confirm: "確定要登出嗎?", } %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="navbar-item columns is-2">
        <div class="column">
          <%= link_to '註冊', new_user_registration_path, class: "button is-primary" %>
        </div>
        <div class="column">
          <%= link_to '登入', new_user_session_path , class: "button is-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</nav>
